In [1]:
# 1. wap
print('hi')

hi

In [5]:
#2. wap to do arithmetic ops addition and division
# add
n1 = eval(input("enter the number:"))
n2 = eval(input("enter the number:"))
n3 = n1+n2
print(f"The sum of {n1} + {n2} is {n3}")

enter the number: 2
enter the number: 4

The sum of 2 + 4 is 6

In [16]:
#2. wap to do arithmetic ops addition and division with random number
# add
import random
n1= random.randint(-2,6)
n2 = random.randint(-5,5)
n3 = n1 + n2
print(f"the sum of {n1} + {n2} is {n3}")

the sum of 6 + -4 is 2

In [21]:
#2. wap to do arithmetic ops addition and division with random number
# div
n1 = float(input("enter the number:"))
n2 = float(input("enter the number:"))
n3 = n1 / n2
print(f"The div of {n1} / {n2} is {n3}")

enter the number: 2.3
enter the number: 8.7

The div of 2.3 / 8.7 is 0.26436781609195403

In [32]:
# 3. wap to find the area of a triangle
n1 = eval(input("enter the breadth:"))
n2 = eval (input("enter the height:"))
AreaTriangle = 1/2*n1*n2
print(f"The area of the Triangle is {AreaTriangle}")

enter the breadth: 5
enter the height: 10

The area of the Triangle is 25.0

In [38]:
# 4. wap to swap two variables
var1 = input("enter the variable 1:")
var2 = input("enter the variable 2:")
print(f"{var1} and {var2}")
newvar = var1
var1 = var2
var2 = newvar
print(f"The swapped values are {var1} and {var2}")

enter the variable 1: m
enter the variable 2: n

m and n
The swapped values are n and m

In [50]:
# 5. wap to generate a random number
print(random.randint(1,9))

7

In [55]:
# 6. wap to convert km to miles
n1 = float(input("enter the kms:"))
n2 = 0.62
Miles = n1*n2
print(f"The conversion of {n1} kms to miles is {Miles}")

enter the kms: 0.7

The conversion of 0.7 kms to miles is 0.434

In [59]:
# 7 wap to convert celsisus to fahrenheit
# F = (9/5)C + 32
n1 = float(input("enter the celsius:"))
Fahrenheit = (9/5)*n1 + 32
print(f"The temprature is {Fahrenheit}")

enter the celsius: 12

The temprature is 53.6

In [61]:
# 8. wap to display calendar
import calendar
#import calendar
print(calendar.calendar(2024))

                                  2024

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [62]:
import calendar
print(calendar.firstweekday())  # Output depends on your system's default

0

In [67]:
# 8 
import calendar
year = int(input("enter the year:"))
month = int(input("enter the month:"))

cal = calendar.month(year, month)
print(cal)

enter the year: 2002
enter the month: 3

     March 2002
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [71]:
# Q10) Write a Python program to swap two variables without temp variable.
a = 10
b = 20
a,b = b,a
a
b
print(a,b)

20 10

In [73]:
def swap(a,b):
    return(b,a)
mnivg,mn = swap(2,4)
mnivg,mn

(4, 2)

In [74]:
swap(6,8)

(8, 6)

In [81]:
# Q11) Write a Python Program to Check if a Number is Positive, Negative or Zero.
n = eval(input("enter the number:"))
if n>0:
    print('+ve')
elif n == 0:
    print('zero')
else:
    print('-ve')

enter the number: -0

zero

In [84]:
# Q12) Write a Python Program to Check if a Number is Odd or Even.
n = eval(input("enter the number:"))
if n % 2 == 0:
    print(f"{n} is even")
else:
    print(f"{n} is odd")

enter the number: 0

0 is even

In [89]:
# 13) Write a Python Program to Check Leap Year.
n = eval(input("enter the year:"))
if n % 400 == 0 or (n % 4 == 0 and n % 100 != 0):
    print (f"{n} is a leap year")
else: 
    print(f"{n} is not a leap year")

enter the year: 2025

2025 is not a leap year

In [148]:
# Q14) Write a Python Program to Check Prime Number.
n = eval(input("enter the number:"))
count=0
for i in range (2,n):
    if n%i==0:
        count+=1
        break
if count>0:
    print (f"{n} is not a prime")
else:
    print (f"{n} is a prime")

enter the number: 5

5 is a prime

In [146]:
start=11
end=10
for n in range(start, end+1):
    if n>1:
        for j in range(2,n):
            if (n%j == 0):
                break
            else:
                print(n)

In [142]:
r = eval(input("enter the number:"))
for number in range(1,r+1):
    if number>1:
        for j in range(2,number):
            if (number%j == 0):
                print('not prime')
                break
        else:
            print(number)

enter the number: 10

2
3
not prime
5
not prime
7
not prime
not prime
not prime

In [144]:
for num in range(1,6):
    if num>1:
       for j in range(2,5):
           if num%j ==0
     print(j)

2
3
4

In [ ]:
# Write a Python Program to Find the Factorial of a Number.
n = eval(input("enter the number:"))